h1 {
    display: block;
    text-align: center;
}

h3 {
    display: block;
    text-align: center;
}

img {
    display: block;
    justify-content: center;
    margin: auto;
    
}

body {
    margin: 0;
    font-family: monospace;
    text-align: center;
  }

  #main_page_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #title_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

  #toy-header {
    display: flex;
    justify-content: center;
    background: #515DA2;
    opacity: .8;
    height: 7rem;
    padding: 1rem;
  }
  
  #toy-header img {
    height: 6rem;
    width: auto;
  }
  
  #toy-collection {
    margin: 2rem;
  }
  
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #e04b52
  }
  
  .toy-avatar {
    justify-self: center;
    height: 8rem;
    width: 8rem;
  }
  
  button {
    position: relative;
    background-color: #e04b52;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    
  }
  
  button:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  
  .add-toy-form {
    width: 80%
  }
  
  .submit {
    position: relative;
    background-color: #e04b52;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 18px;
    justify-self: center;
    font-family: monospace;
    margin: 3px;
  }
  
  .submit:hover {
    background-color: whitesmoke;
    border: #e04b52 solid 1px;
    color: #e04b52;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }
  
  .game_title_div {
      text-align: center;
      justify-content: center;
  }

  #home_page_title_div {
    justify-content: center;
    text-align: center;


  }

  #title {
    text-align: center;
}

  #game_page_div {
    width: 100%;
    margin: auto;
    justify-content: center;
  } 

  #start_game {
    display: block;
    margin: auto;
    justify-content: center;


  }

  #back_to_home {
    width: 17%;
    margin: auto;
    display: block;
    justify-content: center;
  } 

  .flex-wrap {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
    justify-content: center;

  }

  .high_score_container {
    padding: 1rem;
    width: 20rem;
    height: auto;
    opacity: .8;
    border-style: dotted;
    text-align: center;
    margin: auto;
   }